	h1.l,p.l,h3.l{
   text-align: left;
 }

 @page, body {
  position: relative;
  background-color: gray;
  margin: 0;
  size: A4;
}

div.main{
  padding: 0 0 8% 4%;
  
}


div.d-12 {
  background-color: blue;
  width: 100%;
  position: relative;
  min-height: 1px;
}

div.d-6 {
  background-color: blue;
  width:  50%;
  
  position: relative;
  min-height: 1px;
  padding-right: .9375rem;
  padding-left: .9375rem;
}
div.right{
  left:50%;

}

div._1_2{
  top:-196px;
}
div._2_1{
  top: -155px;
}
div._2_2{
  top: -200px;
}
div._2_2_2{
  top: -58px;
}
div._3{
  top: -250px;
}
div._4_2{
  top: -250px;
}
div._4_2_1_2{
  top: -29px;
}
div._4_2_2_2{
  top: -29px;
}

table.pdf-table{
  width: 100%;
  
}

table thead tr {
  background-color: #dddddd;
}


table thead tr th.amt{
  padding-right: : 200px;
}

div h1.r,
div h3.r,
div p.r,
table thead tr th p.r{
  text-align: right;
  color: red;
}

div p.t{
  top: -80px;
}

div p.due_bal{
  font-size:24px;
}