
{% load staticfiles %}
{% load user_tag %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
  @page {
    size: A4;
    @frame content_frame {
      left: 50pt;
      width: 512pt;
      top: 50pt;
      height: 750pt;
      -pdf-frame-border: 1;  
    }

  }

</style>
</head>



<body>
  <table >

    <tbody>
      <tr>
        <td>
          <img src="{{ logo }}" width='150px' height="120px" ><br><br>

          <span><b> {{ invoice.company.name }}</b></span><br>
        }
        </td>
        <td>
          <span>&nbsp</span>
          <span>><b>INVOICE</b></span>
          <span><b>INV#:{{ invoice.invoice_number }}</b></span>
          <span>Balance Due:{{ invoice. }}</span>
          <span><b>PHP</b></span>
        </td>

      </tr>      

    </tbody>
  </table>
  <br>
  <br>
  <br>
  <br>
  <table >

    <tbody>
      <tr>
        <td>

          <td>
            <table>
              <tbody>

                <td>
                  <span >Invoice Date:</span>
                  <span >Due Date:</span>
                </td>

                <td>
                  <span>{{ invoice.invoice_date }}</span>
                  <span>{{invoice.due_date}}</span>

                </td>
              </tbody>
            </table>
          </td>

        </tr>      

      </tbody>
    </table>

    <span>To: {{invoice.client.display_name}}:</span>

    <br>
    <br>
    <br>
    <br>

    {% if invoice.item.item_type == 'fixed' %}

    <table  >
      <thead >
        <tr >

          <th >#</th>

          <th >Description</th>
          <th >duration</th>

          <th >Amount</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>1</span></td>
          <td><span>{{invoice.item.description}}</span></td>
          <td><span>{{invoice.item.start_date}}-{{invoice.item.end_date}}</span></td>
          <td><span>{{invoice.item.amount}}</span></td>

        </tr>      

      </tbody>
    </table>
    {%  endif %}

    {% if invoice.item.item_type == 'hourly' %}
    <table  >
      <thead>
        <tr >

          <th >#</th>

          <th >Description</th>
          <th >duration</th>

          <th >rate</th>
          <th >hours</th>
          <th >total_amount</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>1</span></td>
          <td><span>{{invoice.description}}</span></td>
          <td><span>{{invoice.item.start_date}}-{{invoice.item.end_date}}</span></td>
          <td><span>{{invoice.item.rate}}</span></td>
          <td><span>{{invoice.item.hours}}</span></td>
          <td><span>{{invoice.item.total_amount}}</span></td>


        </tr>      

      </tbody>
    </table>
    {% endif %}
    <br>
    <br>

    <table >

      <tbody>
        <tr>
          <td>

            <td>
              <table>
                <tbody>

                  <td>
                    <span>Total:</span>
                    <span>Due Amount:</span>
                  </td>

                  <td>
                    <span>PHP</span>
                    <span>PHP</span>

                  </td>
                </tbody>
              </table>
            </td>

          </tr>      

        </tbody>
      </table>

      <br>
      <br>
      <br>

      <span>{{invoice.remarks}}</span>

    </body>
    </html>