{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content_auth %}
<div class="col-md-12">
  <br>
  <div class="col-md-8"><label>Invoice Info</label></div>
  <div class="col-md-4">          
    <a href="{% url 'invoice_edit' invoice.pk %}" class="btn">Edit</a>
    <a href="{% url 'invoice_delete' invoice.pk %}">Delete</a>
    <a href="{% url 'invoice_pdf' invoice.pk %}" target="_blank">|Generate PDF|</a>
    <a href="{% url 'invoice_email' invoice.pk %}">Send</a>
  </div>
  <br>
  <hr>
</div>

<div class="col-md-12">

  <div class="col-md-12">
    <div class="col-md-3">
      <label >Invoice #:</label>
    </div>
    <div class="col-md-9">
      {{ invoice.invoice_number }}
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-3">
      <label >description #:</label>
    </div>
    <div class="col-md-9">
      {{ invoice.description }}
    </div>
  </div>
  <hr>

  <div class="col-md-12">
      <h4>Bill To: {{ invoice.client}}</h4>
    </div>
       <div class="col-md-12">
        <div class="col-md-3">
          <label >Payment status::</label>
        </div>
        <div class="col-md-9">
          {{ invoice.payment_status }}
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-3">
          <label >Invoice Date:</label>
        </div>
        <div class="col-md-9">
          {{ invoice.invoice_date }}
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <label >Due Date:</label>
        </div>
        <div class="col-md-9">
          {{ invoice.due_date }}
        </div>
      </div>
      <h3>invoice order summary</h3>
      <div class="col-md-12">
        <div class="col-md-3">
          <label >Order # :</label>
        </div>
        <div class="col-md-9">
          {{ invoice.item.order_number }}
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <label > Type:</label>
        </div>
        <div class="col-md-9">
          {{ invoice.item.item_type }}
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <label > order description:</label>
        </div>
        <div class="col-md-9">
          {{ invoice.item.description }}
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <label > duration:</label>
        </div>
        <div class="col-md-9">
          {{ invoice.item.start_date }}-{{ invoice.item.end_date }}
        </div>
      </div>
      {% if invoice.item.item_type == 'fixed' %}
      <div class="col-md-12">
        <div class="col-md-3">
          <label > amount:</label>
        </div>
        <div class="col-md-9">
          {{ invoice.item.start_date }}-{{ invoice.item.end_date }}
        </div>
      </div>
      {% endif %}
      {% if invoice.item.item_type == 'hourly' %}
      <div class="col-md-12">
        <div class="col-md-3">
          <label > rate:</label>
        </div>
        <div class="col-md-9">
          {{ invoice.item.rate}}
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <label > hours:</label>
        </div>
        <div class="col-md-9">

          {{ invoice.item.hours }}
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <label > total_amount:</label>
        </div>
        <div class="col-md-9">

          {{ invoice.item.total_amount}}
        </div>
      </div>
      {% endif %}
      <div class="col-md-12">
        <div class="col-md-3">
          <label > remarks:</label>
        </div>
        <div class="col-md-9">

          {{ invoice.remarks}}
        </div>
      </div>
      {% if invoice.item.item_type == 'fixed' %}
      <div class="col-md-12">
        <div class="col-md-3">
          <label > total:</label>
        </div>
        <div class="col-md-9">

          {{ invoice.item.amount}}
        </div>
      </div>
      {% endif %}
      {% if invoice.item.item_type == 'hourly' %}
      <div class="col-md-12">
        <div class="col-md-3">
          <label > total:</label>
        </div>
        <div class="col-md-9">

          {{ invoice.item.total }}
        </div>
      </div>
      {% endif %}
      {% endblock %}