{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Invoice</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap Style -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- style -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<a class="navbar-brand" href="#">INVOICE</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
				</ul>

				{% if request.user.is_authenticated %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome@ {{ request.user }}</a></li>
					<li><a href="{% url 'signout' %}"><span class="glyphicon glyphicon-log-out"></span> Signout</a></li>
				</ul>

				{% else %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Signup</a></li>
					<li><a href="{% url 'signin' %}"><span class="glyphicon glyphicon-log-in"></span> Signin</a></li>
				</ul>
				{% endif %}

			</div>
		</div>
	</nav>






	{% if request.user.is_authenticated %}
	<div class="nav-side-menu">
		<div class="brand"><a href="{% url 'index' %}"> INVOICE </a></div>
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

		<div class="menu-list">

			<ul id="menu-content" class="menu-content collapse out">
				<li>
					<a href="#">
						<i class="fa fa-dashboard fa-lg"></i> Dashboard
					</a>
				</li>

				<li>
					<a href="{% url 'contacts' %}">Contacts</a> 
				</li>
				<li>
					<a href="{% url 'contact_add' %}">New Contact
						<span class="glyphicon glyphicon-plus plus"></span>
					</a>
				</li>

			</ul>
		</div>
	</div>


	{% endif %}





	{% block content %}
	{% endblock %}



	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- js -->
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

</body>
</html>