{% load staticfiles user_tag %}
<!DOCTYPE html>
<html>
<head>
  <title>Invoice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font robot-->
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <!-- Bootstrap Style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- style -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
</head>
<body>
  <nav class="navbar navbar-color navbar-fixed-top" >
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a href="{% url 'index' %}">
          <span class="navbar-brand">INVOICE</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="{% url 'index' %}">
              <span class="Dashboard">Dashboard</span>
            </a>
          </li>
          
          <li><a href="{% url 'clients' %}"><span class="Clients">Clients</span></a></li>
          <li><a href="{% url 'invoices' %}"><span class="Invoices">Invoices</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <form class="navbar-form navbar-left" method='GET' action=''>
              <div class="input-group">
                <div class="input-group-btn">
                  <button class="btn btn-search" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
                <input class="form-control-search" type="text" name="q" placeholder="Search" value='{{ request.GET.q }}'>
              </div>
            </form>
          </li>
          {% if request.path == '/invoices/' %}
              <li><a href="{% url 'invoices' %} " class="create-invoice"><span class="user-name">CREATE INVOICE</span></a></li>
          {% endif %}
          <li><a><span class="user-name">Hello, {{ request.user.first_name|title }}!</span></a></li>
          <li>
            <a class="user-dropdown" data-toggle="dropdown" href="#">
              
              <span >
                <img src="{% get_profile_pic request.user.id %}"  class="img-circle user-image" >
              </span> 
              
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'profile' request.user.id %}">Profile</a></li>
              <li><a href="#">Settings</a></li>
              <li class="user-out-header"><a href="{% url 'signout' %}"><span class="glyphicon glyphicon-log-out"></span> Signout</a></li>
            </ul>
          </li>
        </ul>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span>Signup</a></li>
          <li><a href="{% url 'signin' %}"><span class="glyphicon glyphicon-log-in"></span>Signin</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="main">
    {% if request.user.is_authenticated %}
    <div class="col-md-12 content-auth">
      {% block content_auth %}
      {% endblock %}
    </div>
    {% endif %}
    
    {% if not request.user.is_authenticated %}
    <div class="col-md-12 content-not-auth" >
      {% block content_not_auth %}
      {% endblock %}
    </div>
    {% endif %}
  </div>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <!-- js -->
  <script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/inline.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>

{% block js %}
{% endblock %}

</body>
</html>