{% extends 'base.html' %}
{% load widget_tweaks %}
{% load client_tag %}

{% block content_not_auth %}
  <hr><h1 align="center">Welcome Page</h1><hr>
{% endblock %}

{% block content_auth %}
{% if messages %}
<div class="alert alert-success alert-dismissable fade in">
  <ul >
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} </li>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {% endfor %}
  </ul>
</div>
{% endif %}

<div class="home-dashboard">
  <div class="col-md-12 home-dashboard-head">
    <h4 class="title-home-dashboard"><b>My invoices</b></h4>
    <span class="invoice-total">{{ invoices.count }} invoices total</span>
  </div>
  <div class="col-md-12 row-home-dashboard-head" >
    <ul>
      <li>
        <div class="col-md-4 row-title" align="center">Client <span class="caret"></span></div>
        <div class="col-md-3 row-title" align="left">Due date <span class="caret"></span></div>
        <div class="col-md-2 row-title" align="left">Payment Status <span class="caret"></span></div>
        <div class="col-md-2 row-title" align="left">Amount <span class="caret"></span></div>
      </li>
    </ul>
  </div>

  <div class="col-md-12 ">
    {% for invoice in invoices %}
    <ul>
      <li class="row-home-dashboard-data">
        <a class="row-data" href="{% url 'invoices'  %}">
          <div class="col-md-4 data" align="left" >
            <img class="home-dashboard-logo-client-company img-circle" src="{%  get_client_company_logo invoice.client.id %}">&nbsp&nbsp
            <span><b>{{ invoice.client.client_company|title }}</b></span> |
            <span>
              {% if invoice.client.prefix %}
                {{ invoice.client.prefix|upper }}
              {% else %}
                {{ invoice.client.get_prefix|upper }}
              {% endif %}
              - {{ invoice.get_invoice_number }}
            </span>
          </div>
          <div class="col-md-3 data" align="left">
            {% if invoice.status == 'sent' %}
            <span class="sent">{{ invoice.status|title }} |</span>
            {% elif invoice.status == 'draft' %}
            <span class="draft">{{ invoice.status|title }} |</span>
            {% endif %}
            <span>{{ invoice.due_date|date:"F d, Y" }}</span>
          </div>
          <div class="col-md-2 data" align="left">
            <span >
              {% if invoice.payment_status %}
              Paid
              {% else %}
              Pending
              {% endif %}
            </span>
          </div>
          <div class="col-md-2 data" align="left">
            <span class="amount">
              $
              {% if invoice.item.amount is None %}
              {{ invoice.item.total_amount }}
              {% else %}
              {{ invoice.item.amount }}
              {% endif %}

            </span>
          </div>
        </a>
      </li>
    </ul>
    {% endfor %}
  </div>
</div>

{% endblock %}
