    {% extends 'base.html' %}
    {% load user_tag %}
    {% load widget_tweaks %}
    {% block content_auth %}

    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="col-md-12" style="text-align: center;">
          <br>
          <div class="row">
            <img src="{% get_profile_pic request.user.id %}" width='70px' height="55px" >
          </div>
        </div>

        <div class="col-md-12" align='center'>

          <div class="row">
            {{user_form.avatar}}

          </div>
          <br>
        </div>
        <div class="col-md-12">
          <div class="col-md-3"><label>Email*:</label></div>
          <div class="col-md-9">
            <div class="col-md-5">{{user_form.email|attr:"placeholder:ex. Swift@company"}}</div>
            <div class="col-md-7">{{user_form.errors.email}}</div>
          </div>

        </div>


        <div class="col-md-12">
          <div class="col-md-3"><label>Name:</label></div>
          <div class="col-md-9">

            <div class="col-md-12">
              <div class="col-md-5">{{user_form.first_name|attr:"placeholder:first name"}}</div>
              <div class="col-md-7">{{user_form.errors.first_name}}</div> 
            </div>

            <div class="col-md-12">
              <div class="col-md-5">{{user_form.middle_name|attr:"placeholder:middle name"}}</div>
              <div class="col-md-7">{{user_form.errors.middle_name}}</div>
            </div>

            <div class="col-md-12">
              <div class="col-md-5">{{user_form.last_name|attr:"placeholder:last name"}}</div>
              <div class="col-md-7">{{user_form.errors.last_name}}</div>
            </div>

          </div>
        </div>


        <div class="col-md-12">
          <div class="col-md-3"><label>Company*:</label></div>
          <div class="col-md-9">
            <div class="col-md-5">{{company_form.name|attr:"placeholder:ex. Swiftcompany"}}</div>
            <div class="col-md-7">{{company_form.errors.name}}</div>
          </div>

        </div>
        <br>




        <div class="col-md-12" style="text-align: center;">
          <br>
          <div class="row">
            <img src="{% get_company_logo_pic request.user.id %}" width='100px' height="100px" >
          </div>
        </div>

        <div class="col-md-12" align='center'>

          <div class="row">
            {{company_form.logo}}

          </div>
          <br>
        </div>

        <div class="form-group pull-right">

          <button type="submit" class="btn btn-default">Update User</button>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
    {% endblock %}