
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content_auth %}

{{ form.non_field_errors }}

<form method="POST" id="client-form-id" enctype="multipart/form-data" novalidate>
{% csrf_token %}
  <div class="col-md-12">
    <div class="col-md-12" align="center">
      <h2>Add Client</h2><hr>
    </div>
    <div class="col-md-12" >
      <div class="col-md-2 ">
        <label  >Primary contact*:</label>
      </div>
      <div class="col-md-10">
        <div class="col-md-12">
          <div class="col-md-3">{{ form.first_name|attr:"placeholder:First Name"}}</div>
          <div class="col-md-9">{{ form.first_name.errors.as_text }}</div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">{{ form.last_name |attr:"placeholder:Last Name"}}</div>
          <div class="col-md-9">{{ form.last_name.errors.as_text }}</div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-2">
        <label >Company*:</label>
      </div>
      <div class="col-md-10">
        <div class="col-md-12">
          <div class="col-md-3">
            {{ form.client_company|attr:"placeholder:Company name"|attr:"value:" }}
          </div>
          <div class="col-md-9">
            {{ form.client_company.errors.as_text }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-2">
        <label >Company Logo:</label>
      </div>
      <div class="col-md-10">
        <div class="col-md-12">
          <div class="col-md-3">
            {{ form.client_company_logo }}
          </div>
          <div class="col-md-9">
            {{ form.client_company_logo.errors.as_text }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-2">
        <label >Email Address*:</label>
      </div>
      <div class="col-md-10">
        <div class="col-md-12">
          <div class="col-md-3">{{ form.email|attr:"placeholder:Email" }}</div>
          <div class="col-md-9">{{ form.email.errors.as_text }}</div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-2">
        <label>Mobile Number*:</label>
      </div>
      <div class="col-md-10">
        <div class="col-md-12">
          <div class="col-md-3">{{ form.mobile |attr:"placeholder:+639XXXXXXXXX" }}</div>
          <div class="col-md-9">{{ form.mobile.errors.as_text }}</div>
        </div>
      </div>
    </div>
    <div class="col-md-12" align="center">
      <hr>
      <button type="submit" class="btn btn-primary">Add Client</button>
    </div>
  </div>
</form>
{% endblock %}