{% extends 'base.html' %}
{% block content %}

<div class="table-responsive main-body">
	<table class="table">
		<thead>
			<tr>
				<th>NAME</th>
				<th>COMPANY NAME</th>
				<th>EMAIL</th>
				<th>WORK PHONE</th>
				<th>RECEIVABLES</th>
				<th>UNUSED CREDITS</th>
			</tr>
		</thead>
		<tbody>
			{% for contact in contacts %}
			<tr>
				<td><a href="{% url 'contact_view' contact.id %}">{{ contact.contact_display_name }}</a></td>
				<td>{{ contact.company_name }}</td>
				<td>{{ contact.email }}</td>
				<td>{{ contact.work_phone }}</td>
				<td></td>
				<td></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}